/* select tags directly to apply style*/
h1{
    color: #ad0606;
font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5rem;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align:left
    color:rgb(129, 129, 129);
}
body{
    background-color: #ad0606;
    background-image: url("./images/site.png");
    height:85vh;
    background-size: cover;
    background-position: center;
}