/* add your CSS here */
h1{
    color: #ad0606;
font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin-top: 0.45rem;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{ font-family:'lucida sans';
    font-size: 26px;
    text-align:left;
    color:rgb(255, 255, 255);
}
body{
    background-color: #ad0606;
    background-image: url("images/Site.png");
    height:90vh;
    background-size: cover;
    background-position: center;
}
/*adjust background opacity*/ 
h2{
    color: #ad0606;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 0.50rem;
/*Match to first header*/
}