caption {
    text-align: center;
    size: 40px;
    color: azure;
    font-family: 'Lucida Grande';
}
table{
   border: 4px solid rgb(0, 109, 29);
    height: 50px;
    width: 50px; 
}
th{
     font-family: 'Lucida Grande';
    color: azure;
    size: 6px;
}
td{
    border: 3px solid rgb(0, 109, 29);
    height: 50px;
    width: 50px;
    text-align: left;
    font-family: 'Lucida Grande';
    color: azure;
}

body{
    background-color: rgba(154, 22, 22, 0.756);
    size: 100px;
}