.root{
  --dark:rgb(25, 38, 156);
  --light:rgb(36, 94, 219);
  --accent:rgb(46, 45, 45);
}
.container {
  display: flex;
  background-color: var(--dark);
  border: 6px;
  width: 40%;
  margin: 0 auto;
}

.container div {
  background-color: var(--accent);
  margin: 22px;
  padding: 15px;
  font-size: 30px;
  align-items: center;
  border-color: black;
  border: 6px;
}
.hero{
  margin: 25%;
  padding:19%;
  width: auto;
}

.hero-text{
  font-family:'Gill Sans', sans-serif;
  font-size: 22px;
  text-align: left;
}
body{
  background-color: var(--light);
  width: 100%;
  height: 100%;
}
.hero-img{
  width:4px auto;
  height: 4px auto;
  margin: 0 auto;
  align-items: center;
}