:root{
   --dark:rgb(187, 82, 21);
   --light:rgba(238, 145, 108, 0.842);
   --accent:rgb(255, 235, 144);
}
.hero{
  display: flex;
  align-items: center;
  min-height: 400px;
}
.hero h1{
  flex-basis:50% ;
  flex-grow:1;
  padding:20px;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
    background:var(--dark);
}
div, header, aside, main,  footer {
border:2px solid var(--accent);
min-width:250px;
min-height:200px;
font-size: 45px;
}
.container{
  width:80%;
  margin:20px auto;
  max-width: 1200px;
  background-color: var(--accent);
  align-content: right;
  
}
.container-div{
  margin:10px auto;
  width:35%;
  border:6px;
  color:var(--light)
}
.card{
margin: 16px;
padding:5px;
font-size: large;
text-align: center;
width:46%;
min-height: 200px;
background-color:var(--accent);
border: 7px solid var(--light);
}
H3{
    font-size: 25px;
    font-family: monospace;
    text-align: right;
    color: var(--accent);
    background-color: var(--light);
    margin:0;
    padding:0;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
     margin:10px;
    padding:20px;
    font-size: 29px;
      color: azure;
      flex-wrap: wrap;
}
.card img{
    width:90%;
    display:block;
    margin:20px auto;
    border: 2px solid black;
}
h1,h2{
    font-size: 50px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    text-align: center;
    color: var(--accent);
    background-color: var(--light);
    margin:0;
    padding:0;
}
