:root{
   --dark:rgb(187, 82, 21);
   --light:rgba(238, 145, 108, 0.842);
   --accent:rgb(255, 235, 144);
}
body{
    background-color:var(--dark);
}
.container{
  width:40%;
  margin:12px auto;
  background-color: var(--accent);
  align-content: right;
  
}
.container-div{
  margin:10px auto;
  width:35%;
  border:6px;
  color:var(--light)
}
.card{
margin: 16px;
padding:5px;
font-size: large;
text-align: center;
width:46%;
min-height: 200px;
background-color:var(--accent);
border: 7px solid var(--light);
}
H3{
    font-size: 25px;
    font-family: monospace;
    text-align: right;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
     margin:10px;
    padding:20px;
    font-size: 29px;
      color: azure;
      flex-wrap: wrap;
}
.card img{
    width:90%;
    display:block;
    margin:20px auto;
    border: 2px solid black;
}
h1{
    font-size: 50px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    text-align: center;
    color: var(--accent);
    background-color: var(--light);
    margin:0;
    padding:0;
}
p{
    font-family:'Lucida Grande';
    font-weight: bold;
    color: black;
  font-size: 30px;
  text-align: center;
}
/* THE SIDEBAR (Fixed Width) */
.sidebar {
    width: 250px;
    background: var(--light)
    border-box= 25px;
}
