:root{
--primary-color:black;
--lighter-text:var(--lighter-text)
}

body{
    background-color: chocolate;
}
h1{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size:50px;
text-align:center;
}
ol{
    font-weight:bolder;
    font-size:24px;
}
ol ol {
  list-style-type: lower-alpha;
}
ul{
    font-weight:bolder;
    list-style-type: square;
    font-size:24px;
    
}
ul ul {
  list-style-type: circle;
}