/*color palette inspired by Tansformers' Megatron color-palette*/
:root{
--dark: #71706e;
--accent: #a8a9ad;
--light:#d8d8d8;
--border: #781518;
--dark-border:#4c0d0f;
}
body{
    min-height: 100vh;
    background: var(--dark);
    font-family: monospace;
    font-size: large;
    color:whitesmoke;
}
.main-content{
    display:grid;
    grid-template-columns: 1fr,1fr,1fr;
}
    @media (min-width:760px) {
        body{
background: var(--dark);
        }
    }

table{
    border-collapse: collapse;
}
.banner{
    display:grid;
    grid-template-columns: 1;
    gap:20px;
background-color: var(--dark-border);
color:whitesmoke;
padding:10px;
text-align:center;
font-size: 33px;
margin-top:5px;
border: 4.8px solid var(--light);
}