:root{
   --dark:rgba(28, 81, 3, 0.785);
   --light:rgb(204, 225, 183);
   --accent:rgb(101, 204, 245);
}
body{
    background-color:var(--dark);
}
.card{
margin: 16px;
padding:5px;
font-size: large;
text-align: center;
width:46%;
min-height: 200px;
background-color:var(--accent);
border: 7px solid var(--light);
}
H3{
    font-size: 25px;
    font-family: monospace;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
     margin:10px;
    padding:20px;
    font-size: 29px;
      color: azure;
      flex-wrap: wrap;
}
.card img{
    width:90%;
    display:block;
    margin:20px auto;
    border: 2px solid black;
}

h1{
    font-size: 50px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    text-align: center;
    color: var(--accent);
    background-color: var(--light);
    margin:0;
    padding:0;
}

p{
    font-family:'Lucida Grande';
    font-weight: bold;
    color: azure;
  font-size: 30px;
  text-align: center;
}